.to-search-branch-button {
  background-color: white;
  height: inherit;
  width: 44.69vw;
  border-radius: 12px;
  margin-left: 0.63vw;
}

.to-search-branch-button__text {
  color: #0a2896;
  font-size: 1.86vw;
  margin-left: 2.5vw;
  margin-top: 1.86vw;
  font-weight: normal;
}

.to-search-branch-button__text_bold {
  color: #0559ff;
  font-size: 1.86vw;
}

.to-search-branch-button__button {
  margin-left: 2.5vw;
  color: white;
  font-size: 1.25vw;
  background-color: #0048ff;
  border-radius: 12px;
  border: none;
  width: 14.58vw;
  height: 5.21vw;
  cursor: pointer;
}
