.filter-button {
  color: #6b7683;
  background-color: white;
  font-size: 1.31vh;
  border-radius: 1.75vh;
  font-size: 1vw;
  padding: 0.63vw;
  border: 1px solid #6b7683;
  cursor: pointer;
  box-sizing: content-box;
}

.filter-button_clicked {
  background-color: #2f3441;
  color: white;
}
