.clicked-bank-branch {
  height: 100%;
}

.clicked-bank-branch__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clicked-bank-branch__close {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.clicked-bank-branch__buttons {
}
